
          <div class="col-md-8">
            <div class="content-own">
              <h1 class="titulo">HISTORIA </h1>
              <div class="linea"></div>
              <h2 class="titulo">El GIMNASIO CRISTIANO SHEKINAH </h2>
              <div class="row">
               
                

<div class="col-md-12">


 <p>Fundamentado sobre principios bíblicos y valores cristianos.  Fue fundado en 1.998. Sus fines y objetivos se centran en formar niños y jóvenes que crezcan de acuerdo con estos principios.</p>

 <h2>“Aprendo, aplico y sobre valores, proyecto el éxito en mi vida y en el entorno donde me encuentre”</h2>

</div>
              </div>
             
              
            </div>
          </div>
        



