<div class="col-md-8">
            <div class="content-own">
              <h1 class="titulo">METODOLOGÍA</h1>
              <div class="linea"></div>
              <h2 class="titulo">Aprendizaje Significativo</h2>
              <div class="row">
               
                

<div class="col-md-12">

	<p> Aplicamos una pedagogía activa; se aprende y se aplica. El estudiante es el protagonista de su propia formación.  Aprende significativamente. No memorístico ni repetitivo. Se complementa el trabajo del aula con salidas pedagógicas.</p>

	<div class="linea"></div>
              <h2 class="titulo">Ayuda</h2>

              <ul class="content-own-ul">
                <li>
                  <p>Inteligencias Múltiples</p>
                </li>
                <li>
                  <p>Temperamentos.</p>
                </li>
                <li>
                  <p>Competencias.</p>
                </li>
                <li>
                  <p>Estándares.</p>
                </li>
                <li>
                  <p>Autoestima.</p>
                </li>
                
              </ul>

        
</div>
              </div>
             
              
            </div>
          </div>

