<div class="col-md-8">
            <div class="content-own">
              <h1 class="titulo">Nuestro PEI </h1>
              <div class="linea"></div>
              <h2 class="titulo">Por un mundo mejor</h2>
              <div class="row">
               
                

<div class="col-md-12">

              <ul class="content-own-ul">
                <li>
                  <p>TIENE COMO EJE ARTICULADOR: </p>
                </li>
                <li>
                  <p>La Palabra de Dios.</p>
                </li>
                <li>
                  <p>ENFASIS: Lengua Castellana.</p>
                </li>
                
              </ul>

              <p> Además del currículo y los estándares que exige el Ministerio de Educación, el Gimnasio Shekinah contiene en su PEI espacios para: </p> 


 <ul class="content-own-ul">
                <li>
                  <p>Competencias.</p>
                </li>
                <li>
                  <p>Estándares.</p>
                </li>
                <li>
                  <p>Autoestima.</p>
                </li>
                
              </ul>



</div>
              </div>
             
              
            </div>
          </div>
