      <div class="col-md-8">
            <div class="content-own">
              <h1 class="titulo">Sección Preescolar</h1>
              <div class="linea"></div>
              <h2 class="titulo">Grados Transición </h2>
              <div class="row">
               
                

<div class="col-md-12">


 <p>Esta científicamente comprobado que la edad pre-escolar, de 0 a 5 años, es la más importante del ser humano. Durante este tiempo se sientan la bases de un 75% de nuestra personalidad. Por ello el Pre-escolar del GIMNASIO CRISTIANO SHEKINAH cuenta con personal especializado, ludoteca, material didáctico y elementos necesarios para estimular y desarrollar las potencialidades de cada niño y las dimensiones que exige el Ministerio de Educación.</p>



</div>
              </div>
             
              
            </div>
          </div>
