<!DOCTYPE html>
<html>
  <head>
    <title>Gimnasio Cristiano Shekinah</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	
  	<font color="red" size="4">
      <marquee>

      	"LA PRESENCIA PERMANENTE DEL TODO PODEROSO DIOS"
         "APRENDO, APLICO Y SOBRE VALORES, PROYECTO EL ÉXITO EN MI VIDA Y EN EL ENTORNO DONDE ME ENCUENTRE"

       </marquee>
    </font>

    <%= yield %>
  </body>
</html>
